body { background: #40b94b; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 43px; display: flex; }
.block-sms-0 { color: #16015e; font-size: 21px; margin-bottom: 5px; }
.block-uploader-1 { color: #e891c4; font-size: 14px; margin-bottom: 5px; }
.block-order-2 { color: #90d673; font-size: 17px; margin-bottom: 5px; }
.block-notify-3 { color: #44c733; font-size: 17px; margin-bottom: 5px; }
.block-uploader-4 { color: #29303e; font-size: 15px; margin-bottom: 5px; }